body{
    text-align :center;
    background-color:azure;
}
li{
    list-style:none;
    position:relative;
    left:38%;
    text-align :left;
}
img{
    width :400px;
    height: 250px;
    z-index:100;position: relative;
}

div{
    position:absolute;
    left:38%;
    top:35%;
    width :400px;
    height: 250px;
    border-style:hidden;
}