body{
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    line-height: 28px;
    z-index: 1;
    background-image: url("back.jpg");
}
img{
    width:60px;
    height:60px;
    border-radius:50%;
}
.chatodd img{
    float:left;
}
.chateven img{
    float:right;
}
.textleft, .textright{
    height:85px;
    margin:20px 80px;
    padding: 5px;
    border-radius:10px;
}
.textright{
    background-color: rgb(147, 167, 173);
}
.textleft{
    background-color: rgb(201, 126, 138);
}
.triAngleToleft{
    border-color:transparent rgb(201, 126, 138) transparent transparent;
    border-style: solid;
    border-width: 10px;
    width: 0px;
    height:0px;
    float:left;
    margin-top: 10px;
}
.triAngleToright{
    border-color:transparent transparent transparent rgb(147, 167, 173);
    border-style: solid;
    border-width: 10px;
    width: 0px;
    height:0px;
    float:right;
    margin-top: 10px;
}
.read{
    color:rgb(224, 224, 200);
    position: relative;
    font-size: 10px;
    top:60px;
    right:35px;
}
.lread{
    color:rgb(201, 126, 138);
    position: relative;
    font-size: 10px;
    top:60px;
    left:450px;
}