p,ul{
    border:5px solid rgb(170, 101, 170);
    border-radius: 5px;
    padding: .5em;
    color:rgb(100, 25, 25);
    text-align: center;
}
.block,li{
    border:5px solid rgb(132, 132, 255);
    border-radius: 5px;
    padding: .5em;
    text-align: center;
}
ul{
    display:flex;
    list-style:none;
}
li{
    margin:0px 10px;
}
.block{
    display:block;
}
