#rect{
    width:350px;
    height:150px;
    margin:-60px 0px 0px 100px;
    background-color: aqua;
    border-radius: 20px 20px 0px 0px;
}
#rect1{
    border-radius: 50px;
    width:200px;
    height:150px;
    margin:100px 100px 0px 175px;
    background-color: rgb(1, 156, 156);
}
img{
    width:100px;
    height:100px;
    margin:-40px 0px 0px 115px;
}
img{
    -webkit-animation: 'rotate1' 1s linear infinite;
    animation: 'rotate1' 1s linear infinite;
}
@-webkit-keyframes rotate1{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
@keyframes rotate1{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}